---
import Slides from '@components/Slides';

const BUTTONS = [
	{
		slide: 6,
		text: 'Cobertura especial adicional'
	},
	{
		slide: 2,
		text: 'Beneficios adicionales'
	},
	{
		slide: 2,
		text: 'Gastos Administrativos'
	},
	{
		slide: 2,
		text: 'Ventajas del P.S.C'
	},
	{
		slide: 2,
		text: 'Cobertura planes'
	},
	{
		slide: 2,
		text: 'Nuestras sedes'
	}
];
---

<section id="headquartersSection" class="my-8 flex h-fit items-center justify-center">
	<div class="z-20 w-[5%] bg-white md:w-[40%] md:bg-white/70" id="cartWhitePortafolioSection1">
	</div>
	<div class="flex w-[90%] items-center justify-center md:w-[42.5%]">
		<Slides client:load />
	</div>
	<div class="z-20 w-[5%] bg-white md:w-[40%] md:bg-white/70" id="cartWhitePortafolioSection2">
	</div>
</section>

<button data-slide="6" class="mb-4 h-10 w-24 rounded bg-amber-300 text-black">
	Cobertura especial adicional
</button>

<script>
	function updateCartHeights() {
		const height = document.getElementById('carruselContainer')?.offsetHeight;
		const cartOne = document.getElementById('cartWhitePortafolioSection1');
		const cartTwo = document.getElementById('cartWhitePortafolioSection2');

		if (cartOne && cartTwo) {
			cartOne.style.height = `${height}px`;
			cartTwo.style.height = `${height}px`;
		}
	}

	window.addEventListener('load', updateCartHeights);
	window.addEventListener('resize', updateCartHeights);
</script>
