---
import ImageCarousel from '@components/ImageCarouselPSC.jsx';

const images = [
	'/portafolio/1.jpg',
	'/portafolio/2.jpg',
	'/portafolio/3.jpg',
	'/portafolio/4.jpg',
	'/portafolio/5.jpg',
	'/portafolio/6.jpg',
	'/portafolio/7.jpg',
	'/portafolio/8.jpg',
	'/portafolio/9.jpg',
	'/portafolio/10.jpg',
	'/portafolio/11.jpg',
	'/portafolio/12.jpg',
	'/portafolio/13.jpg'
];
---

<section id="headquartersSection" class="my-8 flex h-fit items-center justify-center">
	<div class="z-20 w-[40%] bg-white/70" id="cartWhitePortafolioSection1"></div>
	<div class="flex w-[42.5%] items-center justify-center">
		<ImageCarousel images={images} autoSlide={true} client:load />
	</div>
	<div class="z-20 w-[40%] bg-white/70" id="cartWhitePortafolioSection2"></div>
</section>

<script>
	function updateCartHeights() {
		const height = document.getElementById('carruselContainer')?.offsetHeight;
		const cartOne = document.getElementById('cartWhitePortafolioSection1');
		const cartTwo = document.getElementById('cartWhitePortafolioSection2');

		if (cartOne && cartTwo) {
			cartOne.style.height = `${height}px`;
			cartTwo.style.height = `${height}px`;
		}
	}

	window.addEventListener('load', updateCartHeights);
	window.addEventListener('resize', updateCartHeights);
</script>
