---
import YouTubeLite from '@components/global/YouTubeLite.jsx';

const VIDEO = [
	{
		id: 'Affiliates-1',
		title: '-HWnh3kMScE'
	},
	{
		id: 'Affiliates-2',
		title: 'alejA8bLLdM'
	},
	{
		id: 'Affiliates-3',
		title: 'n0tyub4WM4o'
	},
	{
		id: 'Affiliates-4',
		title: 'PiwbDYOCMyE'
	},
	{
		id: 'Affiliates-5',
		title: 'E_C5VEglDIU'
	},
	{
		id: 'Affiliates-6',
		title: 'RCH7J42ygE0'
	}
];
---

<section class="flex flex-col items-center justify-center bg-gray-50">
	<img src="/PSC/recomendacion.webp" alt="recomendacionImg" class="h-1/2" />
	<div class="mt-6 flex h-1/2 w-[95vw] flex-wrap" id="parent">
            {VIDEO.map((item) => (
                    <YouTubeLite videoid={item.title} client:load id={item.id} key={item.id} />
            ))}
	</div>
	<div class="flex h-fit w-full items-center justify-center py-4">
		<iframe
			class="mt-8 max-w-[90vw]"
			src="https://docs.google.com/presentation/d/e/2PACX-1vRix2FaPEZHM14dd8e2ogcfngmHzUnSFzOV6j2lX7mF0KiOT-MKEhxEt1Xb84_8kseES4NMFpiUctTw/pubembed?start=true&loop=true&delayms=3000"
			frameborder="0"
			width="960"
			height="569"
			allowfullscreen
			tabindex={-1}></iframe>
	</div>
</section>

<style>
	#parent {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 12px;
		grid-row-gap: 8px;
	}

	#Affiliates-1 {
		grid-area: 1 / 1 / 2 / 2;
	}
	#Affiliates-2 {
		grid-area: 1 / 2 / 2 / 3;
	}
	#Affiliates-3 {
		grid-area: 1 / 3 / 2 / 4;
	}
	#Affiliates-4 {
		grid-area: 2 / 1 / 3 / 2;
	}
	#Affiliates-5 {
		grid-area: 2 / 2 / 3 / 3;
	}
	#Affiliates-6 {
		grid-area: 2 / 3 / 3 / 4;
	}

	@media (width <= 768px) {
		#parent {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-column-gap: 12px;
			grid-row-gap: 8px;
		}

		#Affiliates-1 {
			grid-area: 1 / 1 / 2 / 2;
		}
		#Affiliates-2 {
			grid-area: 1 / 2 / 2 / 3;
		}
		#Affiliates-3 {
			grid-area: 2 / 1 / 3 / 2;
		}
		#Affiliates-4 {
			grid-area: 2 / 2 / 3 / 3;
		}
		#Affiliates-5 {
			grid-area: 3 / 1 / 4 / 2;
		}
		#Affiliates-6 {
			grid-area: 3 / 2 / 4 / 3;
		}
	}
</style>
