---
import TextMainPage from '@components/TextMainPage.jsx';
---

<section
	id="MainPage"
	class="mt-8 flex flex-col items-center justify-center gap-y-6 text-white"
	style=""
>
	<h1 class="xs:text-5xl flex items-center justify-center text-center text-3xl font-semibold">
		Blinde su empresa jurídicamente
	</h1>
	<h3 class="xs:text-lg text-center text-sm font-medium">
		PROTECCIÓN LEGAL PARA SU EMPRESA CON NUESTRO SISTEMA
	</h3>

	<div class="flex h-[71px] w-full items-center justify-center">
		<TextMainPage client:load />
	</div>

	<a class="mt-8 h-5 cursor-pointer" href="/portafolio">
		<button
			class="group border-goldColor relative cursor-pointer overflow-hidden rounded-md border-2 border-b-3 bg-green-600 px-4 py-2 font-medium text-gray-50 duration-300 outline-none hover:brightness-105 active:opacity-75"
		>
			<span
				class="absolute -top-[150%] left-0 inline-flex h-[5px] w-80 rounded-md bg-green-400 opacity-50 shadow-[0_0_10px_10px_rgba(0,0,0,0.3)] shadow-green-400 duration-500 group-hover:top-[150%]"
			></span>
			CONOCE NUESTRO PORTAFOLIO
		</button>
	</a>
</section>
