---
import YouTubeLite from '@components/global/YouTubeLite.jsx';
---

<section id="recognitionsSection" class="flex flex-col items-center justify-center bg-[#0D0D0D]">
	<img src="/mainImg/reconocimientos.webp" alt="recognitionsImg" class="-ml-[2px] w-[80vw]" />
</section>
<section
	class="flex h-fit w-full items-center justify-center bg-gradient-to-b from-green-600 to-green-950 pt-12 pb-6"
>
	<div class="grid grid-cols-3 grid-rows-4 gap-4">
		<div class="col-span-2 row-span-4 flex items-center justify-center">
			<img src="/mainImg/ranking.webp" alt="rankingImg" />
		</div>
		<div class="col-start-3">
			<YouTubeLite videoid={'JNd2W8CdxYc'} id={'JNd2W8CdxYc'} client:load />
		</div>
		<div class="col-start-3 row-start-2">
			<YouTubeLite videoid={'PAc7ufU_Sv4'} id={'PAc7ufU_Sv4'} client:load />
		</div>
		<div class="col-start-3 row-start-3">
			<YouTubeLite videoid={'4o4jjariG8k'} id={'4o4jjariG8k'} client:load />
		</div>
		<div class="col-start-3 row-start-4">
			<YouTubeLite videoid={'3trxgJr13vE'} id={'3trxgJr13vE'} client:load />
		</div>
	</div>
</section>

<!-- <style>
	#parent {
		display: grid;
		grid-template-columns: repeat(11, 1fr);
		grid-template-rows: repeat(8, 1fr);
		grid-column-gap: 40px;
		grid-row-gap: 4px;
	}

	#div1 {
		grid-area: 1 / 1 / 4 / 8;
	}
	/* #div2 {
		grid-area: 4 / 1 / 9 / 8;
	} */
	#div3 {
		grid-area: 1 / 8 / 3 / 12;
	}
	#div4 {
		grid-area: 3 / 8 / 5 / 12;
	}
	#div5 {
		grid-area: 5 / 8 / 7 / 12;
	}
	#div6 {
		grid-area: 7 / 8 / 9 / 12;
	}

	@media (width <= 640px) {
		#parent {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(6, 1fr);
			grid-column-gap: 8px;
			grid-row-gap: 0px;
		}

		#div1 {
			grid-area: 1 / 1 / 3 / 3;
		}
		#div2 {
			grid-area: 3 / 1 / 5 / 3;
		}
		#div3 {
			grid-area: 5 / 1 / 6 / 2;
		}
		#div4 {
			grid-area: 5 / 2 / 6 / 3;
		}
		#div5 {
			grid-area: 6 / 1 / 7 / 2;
		}
		#div6 {
			grid-area: 6 / 2 / 7 / 3;
		}
	}
</style> -->
