---
import Layout from '@layouts/Layout.astro';
import MainAuditoria from '@sections/auditoriaYDiagnostico/MainAuditoria.astro';
---

<Layout imgLayout=" " title="Auditoría y diagnostico legal corporativo" boolean={false}>
	<main class="mt-20 w-full pb-10 md:mt-0">
		<MainAuditoria />
	</main>
</Layout>
