---
import Layout from '@layouts/Layout.astro';
import YouTubeLite from '@components/YouTubeLite.jsx';
---

<Layout imgLayout=" " title="Cobertura hasta 100% en honorarios" boolean={false}>
	<main class="w-fit pb-40"></main>
</Layout>
