---
import Button from '@components/Button.astro';
import Layout from '@layouts/Layout.astro';

const title = '¿CÓMO IMPLEMENTAR Y AUDITAR LOS REQUISITOS DEL SG-SST EN SU ORGANIZACIÓN?';
---

<Layout imgLayout="" title="Diplomado">
	<main class="flex flex-col items-center justify-center bg-gray-50 pt-10">
		<h1 class="w-[50%] flex-wrap text-center text-4xl font-semibold">
			{title}
		</h1>
		<img src="/diplomado/diplomado.webp" alt="diplomado imagen" class="mt-12" />
		<div class="flex w-full items-center justify-center">
			<Button text="CRONOGRAMA" color="green" />
		</div>
		<div class="mt-8 flex">
			<img src="/diplomado/inscripcion.webp" alt="" class="w-[34rem]" />
			<div class="flex items-center justify-center">
				<iframe
					src="https://gabriela.centrojuridicointernacional.co:41270/CertiCliente/afiliado/1399"
					class="h-[260px] w-[34rem]"></iframe>
			</div>
		</div>
	</main>
</Layout>
