---
import Layout from '@layouts/Layout.astro';
import MainPageFamiliaCJI from '@sections/familyCJI/MainPageFamiliaCJI.astro';
import MissionAndVision from '@sections/familyCJI/MissionAndVision.astro';
import Headquarters from '@sections/familyCJI/Headquarters.astro';
---

<Layout imgLayout="/familiaCJI/familiaIMG.webp" title="Familia CJI">
	<main>
		<MainPageFamiliaCJI />
		<MissionAndVision />
		<Headquarters />
	</main>
</Layout>
