---
import Layout from '@layouts/Layout.astro';
import Header from '@sections/global/Header.astro';
import Footer from '@sections/global/Footer.astro';
---

<Layout imgLayout="'/header/img.webp'">
	<Header />
	<main></main>
	<Footer />
</Layout>
