---
import Layout from '@layouts/Layout.astro';
import Header from '@sections/global/Header.astro';
import Footer from '@sections/global/Footer.astro';
import MainPageFamiliaCJI from '@sections/familyCJI/MainPageFamiliaCJI.astro';
import MissionAndVision from '@sections/familyCJI/MissionAndVision.astro';
---

<Layout imgLayout="/familiaCJI/familiaIMG.webp">
	<Header />
	<main>
		<MainPageFamiliaCJI />
		<MissionAndVision />
	</main>
	<Footer />
</Layout>
