---
import Header from '@sections/Header.astro';
import Layout from '@layouts/Layout.astro';
import MainPage from '@sections/MainPage.astro';
import Footer from '@sections/Footer.astro';
import Recognitions from '@sections/Recognitions.astro';
import PSC from '@sections/PSC.astro';
import Affiliates from '@sections/Affiliates.astro';
---

<Layout>
	<Header />
	<main>
		<MainPage />
		<Recognitions />
		<PSC />
		<Affiliates />
	</main>
	<Footer />
</Layout>
