---
import Layout from '@layouts/Layout.astro';
import MainPage from '@sections/home/MainPage.astro';
import Recognitions from '@sections/home/Recognitions.astro';
import PSC from '@sections/home/PSC.astro';
import Affiliates from '@sections/home/Affiliates.astro';
---

<Layout imgLayout="/header/img.webp">
	<main>
		<MainPage />
		<Recognitions />
		<PSC />
		<Affiliates />
	</main>
</Layout>
