---
import Layout from '@layouts/Layout.astro';
import PortafolioSection from '@sections/portafolio/PortafolioSection.astro';
---

<Layout imgLayout=" " title="Portafolio">
	<main class="">
		<PortafolioSection />
	</main>
</Layout>
