<div
	class="mx-auto mb-40 flex w-[90vw] flex-col flex-wrap items-center justify-center gap-6 rounded-xl border-2 border-green-600 bg-gradient-to-br from-green-800/90 to-green-500/80 p-4 py-8 text-center shadow-lg backdrop-blur-md sm:rounded-2xl sm:border-4 md:w-[50vw]"
>
	<h2 class="text-goldColor mb-2 text-4xl font-bold">Mesa de Ayuda</h2>
	<div class="flex w-full flex-col items-center justify-center gap-4 sm:flex-row">
		<a
			href="https://centrojuridico.on.spiceworks.com/portal/registrations"
			target="_blank"
			rel="noopener noreferrer"
			class="group relative mx-auto -mt-3 block w-fit rounded-lg border-2 border-yellow-600 bg-gradient-to-br from-yellow-400/90 to-yellow-800/90 px-4 py-2 shadow-lg backdrop-blur-md transition-transform duration-400 hover:scale-105 hover:bg-yellow-500"
		>
			<h2 class="text-md text-center font-bold text-gray-50 group-hover:text-green-950">
				MESA DE AYUDA - SOLICITUDES
			</h2>
		</a>
		<a
			href="https://example.com/soporte-tecnico"
			target="_blank"
			rel="noopener noreferrer"
			class="group relative mx-auto -mt-3 block w-fit rounded-lg border-2 border-yellow-600 bg-gradient-to-br from-yellow-400/90 to-yellow-800/90 px-4 py-2 shadow-lg backdrop-blur-md transition-transform duration-400 hover:scale-105 hover:bg-yellow-500"
		>
			<h2 class="text-md text-center font-bold text-gray-50 group-hover:text-green-950">
				INGRESO SOPORTE TÉCNICO
			</h2>
		</a>
	</div>
</div>
