---
interface Props {
	front: string;
	back: string;
}

const { front, back } = Astro.props;
---

<div class="card w-[30rem]">
	<div
		class="card__content relative p-20 text-center font-bold text-white transition-transform duration-1000"
	>
		<div
			class="card__front absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center"
		>
			<img src={front} alt="" />
		</div>
		<div class="card__back absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center">
			<img src={back} alt="" />
		</div>
	</div>
</div>

<style>
	.card {
		perspective: 800px;
	}
	.card__content {
		transform-style: preserve-3d;
	}
	.card:hover .card__content {
		transform: rotateY(0.5turn);
	}

	.card__front,
	.card__back {
		backface-visibility: hidden;
	}
	.card__back {
		transform: rotateY(0.5turn);
	}
</style>
