---
import Arrow from '@assets/arrow.astro';
---

<li class="relative h-fit w-fit" id="coberturaEspecialHover">
	<div class="flex">Cobertura Especial <Arrow /></div>

	<div
		id="divHiddenCobertura"
		class="pointer-events-none absolute top-full left-0 mt-1 -ml-9 w-60 rounded-sm bg-gray-50 opacity-0 shadow-xl transition-opacity duration-300"
	>
		<ul class="p-2 font-semibold text-green-600">
			<li><a href="/auditoriaYDiagnostico">Auditoría y diagnostico legal corporativo</a></li>
			<hr class="my-1" />
			<li><a href="/cobroYrecaudo">Cobro y recaudo de cartera</a></li>
			<hr class="my-1" />
			<li><a href="/cobertura">Cobertura hasta 100% en honorarios</a></li>
		</ul>
	</div>
</li>

<script>
	document.addEventListener('astro:page-load', () => {
		const cobertura = document.getElementById('coberturaEspecialHover');
		const divHidden = document.getElementById('divHiddenCobertura');
		let hideTimeout: ReturnType<typeof setTimeout>;

		function showDiv() {
			clearTimeout(hideTimeout);
			if (divHidden) {
				divHidden.classList.remove('opacity-0', 'pointer-events-none');
				divHidden.classList.add('opacity-100', 'pointer-events-auto');
			}
		}

		function hideDiv() {
			if (divHidden) {
				divHidden.classList.remove('opacity-100', 'pointer-events-auto');
				divHidden.classList.add('opacity-0', 'pointer-events-none');
			}
		}

		cobertura?.addEventListener('mouseenter', showDiv);
		divHidden?.addEventListener('mouseenter', showDiv);

		cobertura?.addEventListener('mouseleave', () => {
			hideTimeout = setTimeout(hideDiv, 300);
		});
		divHidden?.addEventListener('mouseleave', () => {
			hideTimeout = setTimeout(hideDiv, 300);
		});
	});
</script>
