<header class="w-screen h-96 bg-amber-300 flex justify-end items-end" ><p>Hi i'm a header</p></header>
<header class="w-screen h-96 bg-red-300 flex justify-end items-end" ><p>Hi i'm a header</p></header>
<header class="w-screen h-96 bg-green-300 flex justify-end items-end" ><p>Hi i'm a header</p></header>
<header class="w-screen h-96 bg-blue-300 flex justify-end items-end" ><p>Hi i'm a header</p></header>
<header class="w-screen h-96 bg-amber-300 flex justify-end items-end" ><p>Hi i'm a header</p></header>