<section id="MainPage">
<h1 class="text-5xl flex items-center justify-center text-center font-semibold">Blinde su empresa jurídicamente</h1>
<h3 class="mt-3 text-center text-lg">PROTECCIÓN LEGAL PARA SU EMPRESA CON NUESTRO SISTEMA</h3>
</section>