---
import ImageCarousel from '@components/ImageCarouselFamiliaCJI.jsx';

const images = [
	'/familiaCJI/edificio1.webp',
	'/familiaCJI/edificio2.webp',
	'/familiaCJI/edificio3.jpg',
	'/familiaCJI/edificio4.jpg',
	'/familiaCJI/edificio5.jpg'
];
---

<section id="headquartersSection">
	<img src="/familiaCJI/sedes.webp" alt="" class="bg-white" />
	<div class="flex min-h-screen flex-col items-center justify-center bg-green-50 lg:flex-row">
		<div class="flex w-full items-center justify-center">
			<ImageCarousel images={images} autoSlide={true} client:load />
		</div>
		<h2 class="">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab error deleniti voluptatibus
			eligendi aut. Nemo non, rem excepturi pariatur eius veritatis necessitatibus explicabo optio
			cum omnis ipsam? Blanditiis, quia vero.
		</h2>
	</div>
</section>
