<section
	id="MainPage"
	class="flex flex-col items-center justify-center gap-y-6 text-white"
	style=""
>
	<div>
		<h1 class="xs:text-5xl flex items-center justify-center text-center text-3xl font-semibold">
			Familia
		</h1>
		<br />
		<h1 class="xs:text-5xl flex items-center justify-center text-center text-3xl font-semibold">
			Centro Jurídico Internacional
		</h1>
	</div>
</section>

<script src="@scripts/resizeMainPage.js"></script>
