<section id="missionAndVisionSection" class="flex flex-col items-center justify-center bg-gray-50">
	<div class="w-[90%]">
		<div class="container flex h-fit flex-col">
			<h2 class="text-5xl font-bold">Misión</h2>
			<hr
				class="mt-2 h-1 w-[10rem] rounded border-0 bg-gradient-to-r from-green-500 to-blue-500 shadow-lg"
			/>

			<div id="parentTextSectionOne" class="mt-4">
				<p id="textSection" class="flex items-center justify-center text-justify">
					Ser el apoyo permanente de nuestros usuarios; constituyéndonos como una gran herramienta
					que permita asesorarlos en el manejo de su negocios. Apoyarlos preventivamente mediante la
					solución de consultas de forma idónea e inmediata, así como capacitarlos permanentemente
					con seminarios, talleres y conferencias presenciales para evitar sanciones
					administrativas, legales y judiciales. Ser parte importante en la solución de los
					conflictos legales de nuestros usuarios; con la participación inmediata y diligente de
					nuestro grupo de abogados y profesionales a fin de lograr la mejor solución en el menor
					tiempo posible. Procurar por la tranquilidad jurídica de nuestros afiliados que componen
					la gran familia CENTRO JURÍDICO INTERNACIONAL.
				</p>
				<div id="imgTextSection" class="flex size-full h-fit items-center justify-center">
					<img src="/familiaCJI/arrow.webp" alt="arrowImg" class="size-50" />
				</div>
			</div>
		</div>
		<div class="container mt-12 flex h-fit flex-col">
			<div class="flex h-fit w-full flex-col items-end justify-center">
				<h2 class="text-5xl font-bold">Visión</h2>
				<hr
					class="mt-2 h-1 w-[9.5rem] rounded border-0 bg-gradient-to-r from-green-500 to-blue-500 shadow-lg"
				/>
			</div>

			<div id="parentTextSectionTwo" class="mt-4">
				<p id="textSectionTwo" class="flex items-center justify-center text-justify">
					Trabajamos día a día, arduamente para mejorar la calidad y agilidad en nuestro servicio
					estrechando los lazos de comunicación entre nuestros usuarios y funcionarios. Ampliaremos
					la cobertura de nuestros usuarios con la creación de nuevos canales de comunicación que
					permitan la interpolación de estos para la generación de nuevos negocios.
				</p>
				<div id="imgTextSectionTwo" class="flex size-full h-fit items-center justify-center">
					<img src="/familiaCJI/eye.webp" alt="arrowImg" class="size-40" />
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	#parentTextSectionOne {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	#textSection {
		grid-area: 1 / 1 / 2 / 3;
	}
	#imgTextSection {
		grid-area: 1 / 3 / 2 / 4;
	}

	#parentTextSectionTwo {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	#imgTextSectionTwo {
		grid-area: 1 / 1 / 2 / 2;
	}
	#textSectionTwo {
		grid-area: 1 / 2 / 2 / 4;
	}
	@media (width <= 768px) {
		#parentTextSectionOne {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;
		}

		#textSection {
			grid-area: 1 / 1 / 3 / 3;
		}
		#imgTextSection {
			grid-area: 3 / 1 / 4 / 3;
		}

		#parentTextSectionTwo {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;
		}

		#parentTextSectionTwo {
			grid-area: 1 / 1 / 2 / 2;
		}
		#imgTextSectionTwo {
			grid-area: 2 / 1 / 3 / 2;
		}
	}
</style>
