<section class="flex h-fit w-screen flex-col items-center justify-center gap-8 bg-gray-50 py-12">
	<div class="flex h-full w-[80%] flex-col justify-between">
		<h2 class="text-5xl font-bold">Misión</h2>
		<hr
			class="mt-2 mb-8 h-1 w-[10rem] rounded border-0 bg-gradient-to-r from-green-500 to-blue-500 shadow-lg"
		/>
		<div class="flex h-[80%] w-full flex-col md:flex-row">
			<p class="h-full w-full text-justify md:w-[70%]">
				Ser el apoyo permanente de nuestros usuarios; constituyéndonos como una gran herramienta que
				permita asesorarlos en el manejo de su negocios. Apoyarlos preventivamente mediante la
				solución de consultas de forma idónea e inmediata, así como capacitarlos permanentemente con
				seminarios, talleres y conferencias presenciales para evitar sanciones administrativas,
				legales y judiciales. Ser parte importante en la solución de los conflictos legales de
				nuestros usuarios; con la participación inmediata y diligente de nuestro grupo de abogados y
				profesionales a fin de lograr la mejor solución en el menor tiempo posible. Procurar por la
				tranquilidad jurídica de nuestros afiliados que componen la gran familia CENTRO JURÍDICO
				INTERNACIONAL.
			</p>
			<div class="mt-8 flex h-full w-full items-center justify-center md:mt-0 md:w-[30%]">
				<img src="/familiaCJI/arrow.webp" alt="arrowImg" class="size-40 md:size-50" />
			</div>
		</div>
	</div>
	<div class="flex h-full w-[80%] flex-col items-end justify-between">
		<h2 class="text-5xl font-bold">Visión</h2>
		<hr
			class="mt-2 mb-8 h-1 w-[10rem] rounded border-0 bg-gradient-to-r from-green-500 to-blue-500 shadow-lg"
		/>
		<div class="flex h-[80%] w-full flex-col md:flex-row-reverse">
			<p class="h-full w-full text-justify md:w-[70%]">
				Trabajamos día a día, arduamente para mejorar la calidad y agilidad en nuestro servicio
				estrechando los lazos de comunicación entre nuestros usuarios y funcionarios. Ampliaremos la
				cobertura de nuestros usuarios con la creación de nuevos canales de comunicación que
				permitan la interpelación de estos para la generación de nuevos negocios.
			</p>
			<div class="mt-8 flex h-full w-full items-center justify-center md:mt-0 md:w-[30%]">
				<img src="/familiaCJI/eye.webp" alt="arrowImg" class="size-40 md:size-50" />
			</div>
		</div>
	</div>
</section>
