---
import Burger from '@components/header/Burger.astro';
import HeaderDeskTop from '@components/header/HeaderDeskTop.astro';
import HeaderMobile from '@components/header/HeaderMobile.astro';
---

<header
	class="absolute z-50 flex h-fit w-full flex-col items-center justify-start bg-green-600/70 md:relative"
	id="header"
	transition:name="header"
>
	<div
		class="flex h-fit w-full items-center justify-center border-2 border-transparent border-b-white bg-green-600/70"
		id="imgHeader"
	>
		<Burger />
		<a href="/" class="flex h-auto w-full items-center justify-center">
			<img
				src="/header/logoMainCJIWhite.svg"
				alt="Logo Centro Jurídico Internacional"
				class="xs:min-w-80 mx-4 my-2 h-auto max-h-22 min-h-fit w-[30vw] min-w-60 rounded-2xl px-3 py-1"
			/>
		</a>
	</div>

	<HeaderDeskTop />
	<HeaderMobile />
</header>
